body {
    background: #eee;
    color: #555;
}

hr {
    clear: both;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

textarea {
    resize: vertical;
}

#article-preview {
    border: 2px solid #d4d4d4;
    border-radius: 25px;
}

.preview-hint {
    font-style: italic;
    font-size: 1em;
    margin-right: 30px;
}

.preview-author {
    margin: 0 auto;
    font-size: 1.2em;
    font-style: italic;
    color: #999;
}

.preview-body {
    font-size: 1.2em;
    margin: 50px 20px 20px;
}

#articles {
    margin-top: 30px;
    background: #fff;
    border: 2px solid #d4d4d4;
    border-radius: 10px;
}

.article {
    background: #bac2ff;
    margin: 20px 15px;
    padding: 5px 20px;
    border-radius: 5px;
}

.article-author {
    margin-left: 15px;
    font-size: 0.8em;
    font-style: italic;
    color: #999;
}
